/* global settings */
:root{
    --gradientColor1:rgba(204, 158, 73, 1);
    --gradientColor2:rgba(218, 181, 104, 0.295);
    --textColor:rgb(51, 31, 4);
    --footerBackground:rgb(158, 103, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    cursor: none;
}

a{
    text-decoration: none;
    color: var(--textColor);
    transition: 0.3s;
    cursor: none;
}

/* finished working with global settings */

/* loader screen */
.loader{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 20;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gradientColor1);
    animation: loader-animation 1s forwards 1.88s ;
}
.loader h2{
font-size: 45px;
margin:5px 0;
overflow: hidden;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.loader h2 span{
    display:block;
    transform: translateY(100%);
    animation: text-reveal 0.6s forwards 0.28s;
}
.loader h2 span#second-text{
    animation-delay: 0.45s;
}
.loader h2 span#third-text{
    animation-delay: 0.73s;
}
.slider{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 110vh;
    width: 100%;
    background-color: rgb(150, 95, 14);
    transform: translateY(100%);
    animation: slider-animation 1s forwards 1.6s;
}
@keyframes text-reveal{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes loader-animation{
    0%{
        transform: translateY(0);
        /* clip-path: inset(0 0 0 0) */
    }
    100%{
        transform: translateY(-100%);
        /* clip-path: inset(50% 0% 50% 0%); */
        display: none;
    }
}

@keyframes slider-animation{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(-100%);
    }
}
/* cursor styling */
#cursor{
    position:fixed;
    top: -100%;
    left:-100%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    height:20px;
    width:20px;
    border:2px solid var(--textColor);
    border-radius: 50%;
    pointer-events: none;
    transition: 0.2s;
    transition-property: height,width,opacity;
    backdrop-filter:blur(7px);
    -webkit-backdrop-filter: blur(7px);
    -moz-backdrop-filter: blur(7px);
}
#cursor.mouse-enter{
    height: 40px;
    /* width:120px; */
    z-index: 2;
    background:var(--textColor);
}

/* bubbles styling */
particle{
    position: absolute;
    z-index: 50;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%,-50%);
    animation: animate 0.7s ease forwards;
    --lastX:0;
    --lastY:0;
}
@keyframes animate{

  40%{
      opacity: 1;
  }
    100%{
        transform: translate(var(--lastX),var(--lastY));
        opacity: 0;
    }
}
/* header of the website */
header{
min-height:100vh;
background:var(--gradientColor1);
background-size: cover;
padding-top: 10px;
display:flex;
flex-direction: column;
justify-content: space-between;
position: relative;
}
header .intro-container{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    color: var(--textColor);
    opacity: 0;
    animation: fade 0.8s ease-in forwards 2.3s;
    }
header .intro-container .intro-image{
    height: 210px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .intro-container .intro-image i{
 font-size: 220px;
 font-weight: 2;
}
header .intro-container .intro{
    font-family: unset;
    font-size: 30px;
    padding:0 30px;
}

header .intro span{
    font-size: 45px;
    display:inline-block;
    margin-bottom: 18px;
    font-weight: 600;
    font-family:  monospace;
}
header .intro a{
    display: inline-block;
    padding:4px 10px;
    font-size: 20px;
    margin: 30px  10px 0 0;
    border-radius: 5px;
    border:2px solid var(--textColor);
    background-color: transparent;
    color:var(--textColor);
    text-transform: capitalize;
    font-family: sans-serif;
}
header .intro a:hover{
    
    background-color: var(--textColor);
    color:var(--gradientColor1);
    
}
header .intro h5{
    font-family: monospace;
    margin-left: 5px;
}

header nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    color: var(--textColor);
}

header nav > span{
    margin-left: 30px;
    font-size: 38px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    opacity: 0;
    animation: fade 0.8s ease-in forwards 2.3s;
}

header nav ul{
    display:flex;
    justify-content: space-evenly;
    align-self: center;
    flex-grow: 0.3;
    list-style-type: none; 
}

header nav ul li{
    position: relative;
    z-index: 3;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;
    text-align: center;
    animation: fade 0.8s ease-in forwards 2.3s;
}
header nav a{
    padding:5px 18px;
    border-radius: 5px;

}

header nav .lines{
    z-index: 12;
    height: 50px;
    width: 50px;
    margin-right: 3%;
    border-radius: 50%;
    display: none;
    position: relative;
    transition: 0.4s;
    opacity: 0;
    animation: fade 0.8s ease-in forwards 0.2s;

}

header nav .lines.fixed{
position: fixed;
top: 10px;
right: 0;
}

header nav .background{
    position: fixed;
    top: 7%;
    left: 94%;
    height: 10px;
    width: 20px;
    z-index: 11;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 0.5s;
}

header nav  .background.expand{
    height:2200px;
    width: 2200px;
    background-color: var(--footerBackground);
    transform: translate(-50%,-50%) scale(1);
}

header nav .line{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:3px;
    width: 35px;
    background-color: var(--textColor);
    margin-right: 4%;
    border-radius: 20px;
    position: relative;
    transition: transform 0.5s;
}
header nav .line.line-mouse-enter,header nav .line.line-mouse-enter::after{
    background-color: var(--gradientColor1);
}

header nav .line::after{
    content:'';
    position: absolute;
    top: -10px;
    height:3px;
    width: 35px;
    background-color: var(--textColor);
    border-radius: 20px;
}

header nav .line.rotate{
    transform: translate(-50%,-50%) rotate(135deg);
}

header nav .line.rotate::after{
    content: '';
    transform-origin: bottom;
    transform: rotate(92deg) translateX(8.5px);
}

#theme{
    cursor: pointer;
    position: relative;
    margin-right: 20px;    
}

nav .dropdown{
    width: 120px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    background-color: wheat;
    height: 60px;
    transition: 0.2s;
    opacity: 0;
    pointer-events: none;
}
nav .dropdown  span{
    display: block;
    font-size: 16px;
    text-align: center;
    opacity: 1;
    transition: 0.1s;
    color: rgb(58, 42, 12);
    height:50%;
    padding-top: 5px;
}
#theme:hover .dropdown{
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
    pointer-events: all;
}
header .typing{
    position: relative;
}

header h5{
    display:inline;
    font-size: 29px;
}

header .typing::after{
    content: '';
    position: absolute;
    top:0px;
    margin-left: 3px;
    height: 28px;
    width:2px;
    background-color: var(--textColor);
    animation:blink 1s infinite;
}

@keyframes blink{
0%,100%{
opacity: 0;
}
20%{
    opacity: 1;
}
70%{
    opacity: 1;
}
72%{
    opacity: 0;
}
}

@keyframes fade{
   from{
       opacity: 0;
   }
   to{
       opacity: 1;
   }
}

/* finished working with the header of the website */

/* work section  */
#work .works{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color:var(--textColor);
    margin: 30px 0 35px 0;
}
#work .works .works__img{
    height:350px;
    flex-basis:550px;
    position: relative;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
}
#work .works .works__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.scroll-appear{
    animation:fade-jump 0.7s  forwards;
 }
 @keyframes fade-jump{
     from{
         transform: scale(0.95);
         opacity: 0;
     }
     to{
        transform: scale(1);
        opacity: 1;
     }
 }
#work .works .works__text{
    height: 300px;
    flex-basis: 500px;
    flex-grow: 0.7;
    padding: 0 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}
#work .works .works__text h2{
    font-family: 'Piazzolla', serif;
    font-size: 28px;
}
#work .works .works__text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
#work .works a{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:5px 8px;
    text-align: end;
    border-radius: 5px;
    background-color: var();
    border:2px solid var(--textColor);
}
#work .works a:hover{
    color:var(--gradientColor1);
    background-color: var(--textColor);
}
/* scroll to top button */
#scrollToTop{
    position: fixed;
    z-index: 10;
    top: -100px;
    right:40px;
    height:54px;
    width: 54px;
    background-color: wheat;
    border-radius: 50%;
    box-shadow: 0 0 5px;
    transition: 0.5s;  
}

#scrollToTop i{
    font-size: 28px;
    display: block;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(51, 31, 4);
    position: relative;
    left: -2px;
}
#scrollToTop.down{
    top: 85%;
}
/* finished working with scroll to top button */


/* about section setting */
#about {
padding: 0 35px;
background: linear-gradient(135deg,var(--gradientColor2),var(--gradientColor1));
}
#about .imgbox{
    height: 300px;
    width:300px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    min-width: 30%;
    margin-bottom: 10px;
}

#about .imgbox img{
    position: absolute;
    height: 100%;
    width: 100%;
}

#about .txtbox{
   padding:50px 20px;
   max-width: 70%;
}

#about .txtbox p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:var(--textColor);
    margin: 10px;
}
/* services section styling  */
#services{
    padding:35px 100px;
}
#services .content{
    justify-content: space-around;
}
#services .card{
    position: relative;
    height:280px;
    width: 250px;
    margin:25px 30px;
    flex-shrink: 0;
    transition: 0.3s;
}

#services .card .face{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: 0.5s;
}
#services .card .face.face1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(37, 145, 218);
    transform-origin: right;
    opacity: 1;
}
#services .card .face.face1 .imgbox{
    height:100px;
    width: 100px;
    overflow: hidden;
    position: relative;
    flex-grow: 0.2;
}
#services .card .face.face1 .imgbox img{
    height: 100%;
    width: 100%;
}
#services .card .face.face1 h4{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
#services .card:hover .face.face1{
    transform:perspective(2000px) translateX(-100%) rotateY(-90deg);
    opacity: 0;
}
#services .card .face.face2{
    padding:15px;
    font-size: 13px;
    text-align: center;
    background-color:wheat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: left;
    transform: perspective(2000px) translateX(100%) rotateY(90deg);
    opacity: 0;
}
#services .card:hover .face.face2{
    transform: perspective(2000px) translateX(0) rotateY(0); 
    opacity: 1;      
}
#services .card .face.face2 a{
    display:inline-block;
    padding: 3px 5px;
    margin-top:10px;
    border-radius: 2px;
    background-color: var(--footerBackground);
}
/* testimonial section styling */
#testimonial{
    padding:0 20px 40px 20px;
    position: relative;
}

#testimonial .testimonial-card{
  height:360px;
  width: 350px;
  border: 2px solid var(--textColor);
  border-radius: 5px;
  background:white;
  margin: 90px 5px 40px 5px;
  padding: 12px 20px;
  font-size: 15.5px;
  text-align: justify;
  font-family:arial;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;

}
#testimonial  .testimonial-img{
height: 170px;
width:170px;
border-radius: 50%;
overflow: hidden;
position: absolute;
top:-75px;
left: 50%;
transform: translateX(-50%);
}
#testimonial  .testimonial-img img{
    position: absolute;
    top:0;
    left: 0;
    object-fit: cover;
}
#testimonial .testimonial-card p{
    order:1;
    font-size: 16px;
    padding:8px;
    position: relative;
}
#testimonial .testimonial-card p::before{
   content: '\201C';
   position: absolute;
   top:-22px;
   left:-17px;
   font-size: 45px;
   font-weight: bold;
   color:var(--textColor);
}
#testimonial .testimonial-card p::after{
    content: '\201D';
    position: absolute;
    bottom:-35px;
    right:-17px;
    font-size: 45px;
    font-weight: bold;
    color:var(--textColor);
 }
#testimonial .testimonial-card h4{
    font-size: 20px;
    margin-top: 70px;
    font-family: 'Piazzolla', serif;
}
#testimonial  .testimonial-card:hover{
    transform: rotate(30deg);
}
/* footer styling */
footer{
    background-color: var(--footerBackground);
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.heading{
    height:90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    position: relative;
}
.heading h3{
    text-align: center;
    padding-top: 15px;
    color: var(--textColor);
    font-size: 48px;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    position: sticky;
    top: 0;
}

.heading p{
text-align: center;
width: 100%;
background-color: #fff;
padding: 20px 0 45px 0;
font-size: 25px;
color: var(--textColor);
position: sticky;
top: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.content{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    color: var(--textColor);
    padding:20px;
}

footer .content form{
    display:flex;
    flex-direction: column;
    min-width: 60%;
    margin-top: 25px;

} 
footer .heading p{
    background-color: var(--footerBackground);
}
footer .content .form.slide-right{
    animation: slide-right 0.7s forwards;
}
@keyframes slide-right{
    from{
        transform: translateX(-15%) scale(0.95);
        opacity: 0;
    }
    to{
        transform: translateX(0%) scale(1);
        opacity: 1;
    }
}
footer .content form div{
    position: relative;
    height:35px;
    width:420px;
    margin: 5px 0 22px 0;

}
footer .content form div.message{
    height: 180px;
}
footer .content form div span{
    position: absolute;
    top:50%;
    left: 3%;
    transform: translate(-3%,-50%); 
    font-size: 14px;   
    pointer-events: none;
    transition: transform 0.3s;
}
footer .content form div.message span{
    top:7%;
    transform: translateY(-7%);
}

footer .content form div input:focus + span ,
footer .content form div input:valid + span{
    transform: translate(-10px,-37px);
    font-size:13px ;
}

footer form .message textarea:focus + span,
footer form .message textarea:valid + span{
    transform: translate(-10px,-30px);
    font-size:13px ; 
}
footer .content form  .email input.filled:invalid + span{
    transform: translate(-10px,-37px);
    font-size:13px ;
}
footer .content .sub-heading{
    font-size: 19px;
    font-weight: 550;
    margin-bottom: 25px;
}
footer .content  span{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer .content form input,textarea{
    background-color: rgba(255, 255, 255,0.4);
    padding:10px 15px;
    border:none;
    font-size: 14px;
    border-radius: 5px;
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
}
footer .content form input,textarea::placeholder{
    color:var(--textColor);
    font-size: 15px;
}

footer .content form input[type='submit']{
    width: 90px;
    height: 40px;
    align-self: center;
    background-color: rgb(97, 93, 85);
    cursor: pointer;
}

footer .content form input[type='submit']:hover{
 background-color: violet;
 color:black
}
footer .others{
    width: 40%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    margin-left:50px;

}
footer .others.slide-left{
animation:slide-left 0.7s forwards;
}
@keyframes slide-left{
    from{
        transform: translateX(10%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
footer .contactBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .contactBox span{
    display: block;
}
footer .others div{
   font-size: 22px;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: capitalize;
   padding:10px;
   margin:0 0 15px 0;
}
footer .others div i{
    font-size: 26px;
    margin:8px;
}
footer .others div .link{
    font-size: 14px;
}
footer .others .sub-heading{
    margin-bottom: 25px;
}
footer .quote{
    width: 95%;
    font-size: 16px;
    text-align: center;
    margin:20px;
    color:var(--textColor)
}
footer .quote i{
    display:block;
    text-align: end;
    padding-right:60px;
}
/* finished working with footer styling */




/* responsive design */
@media all and (max-width:990px)
{
    #cursor{
        transition:none;
    }
 header nav ul{
     position:fixed;
     z-index: 15;
     top:50%;
     left: 50%;
     transform: translate(-50%,-50%);
     flex-direction: column;
     opacity: 0;
     pointer-events: none;
     transition-delay: 0; 
 }
 header nav ul li{
     font-size: 28px;
     transform: scale(0.9);
 }

 header nav ul.show{
    opacity: 1;
    pointer-events: all;  
 }
 header nav ul.show li{
     opacity: 0;
     margin:15px 0;
    animation:uiScaleup 0.6s forwards;
 }
 header nav ul.show li:nth-child(1){
    animation-delay: 0.6s; 
 }
 header nav ul.show li:nth-child(2){
   animation-delay: 0.7s; 
}
header nav ul.show li:nth-child(3){
    animation-delay: 0.8s; 
 }
 header nav ul.show li:nth-child(4){
    animation-delay: 0.9s; 
 }
 header nav ul.show li:nth-child(5){
    animation-delay: 1s; 
 }
 header nav ul.show li:nth-child(6){
    animation-delay: 1.1s; 
 }
 @keyframes uiScaleup {
    from{
        transform: scale(0.5) ;
        opacity: 1;
    }
    to{
       transform: scale(1) ;
       opacity: 1;
    }
}
 header nav .lines{
     display:block;
 }

}

@media all and (max-width:1110px){
    #work .works .works__img{
        order: 0;
    }
    #work .works .works__text{
        order: 1;
    }
}

@media all and (max-width:840px){
    header .intro-container .intro-image{
        display:none;
    }
}
input,span,textarea,input[type = submit]{
    cursor: none;
}
