/* global settings */
:root{
    --gradientColor1:rgba(201, 130, 0, 0.822);
    --gradientColor2:rgba(228, 186, 96, 0.678);
    --textColor:rgb(51, 31, 4);
    --footerBackground:rgba(158, 103, 0, 0.922);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--textColor);
    transition: 0.3s;
}
/* finished working with global settings */


/* header of the website */
header{
min-height:100vh;
background-image:linear-gradient(135deg,var(--gradientColor1) 40%,var(--gradientColor2)), url(background.jpeg);
background-size: cover;
padding-top: 10px;
display:flex;
flex-direction: column;
justify-content: space-between;
position: relative;
}

header .intro{
    position: absolute;
    top:50%;
    left:10%;
    transform:translateY(-50%);
    font-family: unset;
    font-size: 30px;
    color: var(--textColor);
    flex-grow: 1;
    justify-self: center;
}

header .intro span{
    font-size: 45px;
    display:inline-block;
    margin-bottom: 18px;
    font-weight: 600;
    font-family:  monospace;
}
header .intro h5{
    font-family: monospace;
    margin-left: 5px;
}

header .nav{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

header .nav > span{
    margin-left: 30px;
    padding-top: 10px;
    font-size: 38px;
    color:var(--textColor);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

header .nav ul{
    display:flex;
    list-style-type: none;
    
}

header .nav ul li{
    margin:0 20px;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    padding:5px 10px;
}

header li:hover a{
    text-shadow: 2.5px 2.5px 2px rgba(51, 31, 4, 0.651);

}

header .nav .lines{
    z-index: 12;
    height: 50px;
    width: 50px;
    margin-right: 3%;
    cursor: pointer;
    border-radius: 50%;
    display: none;
    position: relative;
    transition: 0.4s;
}

header .nav .lines:hover{
    background-color: var(--footerBackground);
}

header .nav .lines.fixed{
position: fixed;
top: 10px;
right: 0;
}

header .nav .background{
    position: fixed;
    top: 7%;
    left: 94%;
    height: 10px;
    width: 20px;
    z-index: 11;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 0.4s;

}

header .nav  .background.expand{

    height:1900px;
    width: 1900px;
    background-color: var(--footerBackground);
    transform: translate(-50%,-50%) scale(1);

}

header .nav .line{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:3px;
    width: 35px;
    background-color: var(--textColor);
    margin-right: 4%;
    border-radius: 20px;
    position: relative;
    transition: 0.5s;
   
}

header .nav .line::after{
    content:'';
    position: absolute;
    top: -10px;
    height:3px;
    width: 35px;
    background-color: var(--textColor);
    border-radius: 20px;
}

header .nav .line.rotate{
    transform: translate(-50%,-50%) rotate(135deg);
}

header .nav .line.rotate::after{
    content: '';
    transform-origin: bottom;
    transform: rotate(92deg) translateX(8.5px);
}

#theme{
    cursor: pointer;
    margin: 0 40px 0 20px;
    color: var(--textColor);
}

#theme .dropdown{
    width: 120px;
    position: absolute;
    margin-top:8px;
    background-color: wheat;
    transform: translateX(-25px);
    height: 0;
    transition: 0.2s;
}

#theme .dropdown::after{
   content: '';
   position: absolute;
   top:-4px;
   left: 50%;
   transform: translateX(-50%) rotate(45deg);
   height: 10px;
   width: 10px;
   background-color:wheat;
   opacity: 0;
   
}

#theme .dropdown span{
    display: block;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.1s;
    color: rgb(58, 42, 12);
    text-shadow: none;
    height:50%;
    padding-top: 5px;
    text-transform: capitalize;
}

#theme:hover .dropdown{
    height:60px;
}

#theme:hover .dropdown span{
    opacity: 1;
    pointer-events: all;

}

#theme:hover .dropdown::after{
    opacity: 1;
}

header .typing{
    position: relative;
}

header h5{
    display:inline;
    font-size: 29px;
}

header .typing::after{
    content: '';
    position: absolute;
    top:0px;
    margin-left: 3px;
    height: 28px;
    width:2px;
    background-color: var(--textColor);
    animation:blink 1s infinite;
}

@keyframes blink{
0%{
opacity: 0;
}
20%{
    opacity: 1;
}
70%{
    opacity: 1;
}
72%{
    opacity: 0;
}
100%{
opacity: 0;
}
}
/* finished working with the header of the website */


/* scroll to top button */
#scrollToTop{
    position: fixed;
    z-index: 10;
    top: -100px;
    right:40px;
    height:45px;
    width: 45px;
    background-color: wheat;
    border-radius: 50%;
    box-shadow: 0 0 5px;
    transition: 0.5s;
    
}

#scrollToTop span{
    font-size: 25px;
    display: block;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(51, 31, 4);
}
#scrollToTop.down{
    top: 85%;
}
/* finished working with scroll to top button */


/* about section setting */
#about {
padding: 0 35px;
background: linear-gradient(135deg,var(--gradientColor2),var(--gradientColor1));
}
#about .imgbox{
    height: 300px;
    width:300px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    min-width: 30%;
    margin-bottom: 10px;
}

#about .imgbox img{
    position: absolute;
    height: 100%;
    width: 100%;
}

#about .txtbox{
   padding:50px 20px;
   max-width: 70%;
}

#about .txtbox p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:var(--textColor);
    margin: 10px;
}
/* services section styling  */
#services{
    padding:35px 100px;
}
#services .content{
    transform-style: preserve-3d;
}
#services .card{
    position: relative;
    height:280px;
    width: 220px;
    margin:20px 50px;
    flex-shrink: 0;
}
#services .card .face{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: 0.5s;
}
#services .card .face.face1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 145, 218);
    transform-origin: right;
    opacity: 1;
}
#services .card:hover .face.face1{
    transform:perspective(2000px) translateX(-100%) rotateY(-90deg);
    opacity: 0;
}
#services .card .face.face2{
    padding:15px;
    font-size: 13px;
    text-align: center;
    background-color:wheat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: left;
    transform: perspective(2000px) translateX(100%) rotateY(90deg);
    opacity: 0;
}
#services .card:hover .face.face2{
    transform: perspective(2000px) translateX(0) rotateY(0); 
    opacity: 1;      
}
#services .card .face.face2 a{
    display:inline-block;
    padding: 3px 5px;
    margin-top:10px;
    border-radius: 2px;
    background-color: var(--footerBackground);
}
/* footer styling */
footer{
    min-height: 100vh;
    background-color: var(--footerBackground);
    position: relative;
}

.heading h3{
    text-align: center;
    padding-top: 15px;
    color: var(--textColor);
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}

.heading p{
text-align: center;
font-size: 17px;
color: var(--textColor);
margin-bottom: 35px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
 display:flex;
 flex-direction: column;
 justify-content: space-between;
 clear: both;

}

.content{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: var(--textColor);
}

footer .content form{
    display:flex;
    flex-direction: column;
    min-width: 60%;

} 

footer .content  span{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer .content form input,textarea{
    margin: 5px 0 20px 0;
    width: 420px;
    background-color: rgba(255, 255, 255,0.4);
    padding:10px 15px;
    border:none;
    border-radius: 5px;
    resize: none;
}

footer .content form input,textarea::placeholder{
    color:var(--textColor);
    font-size: 15px;
}

footer .content form input[type='submit']{
    width: 90px;
    align-self: flex-start;
    background-color: rgb(97, 93, 85);
    cursor: pointer;
}

footer .content form input[type='submit']:hover{
 background-color: violet;
 color:black
}

footer .others{
    width: 40%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
}

footer .contactBox{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
footer .contactBox span{
    display: block;
}
footer .others div{
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: capitalize;
   padding:10px;
}
footer .quote{
    width: 95%;
    font-size: 16px;
    text-align: center;
    margin:20px;
    color:var(--textColor)
}
footer .quote i{
    display:block;
    text-align: end;
    padding-right:60px;
}
/* finished working with footer styling */

/* responsive design */
@media all and (max-width:950px)
{
 header .nav ul{
     position:fixed;
     z-index: 15;
     top:50%;
     left: 50%;
     transform: translate(-50%,-50%);
     flex-direction: column;
     opacity: 0;
     pointer-events: none;
    transition-delay: 0; 

 }
 header .nav ul li{
     font-size: 30px;
 }
 header .nav ul.show{
    opacity: 1;
    pointer-events: all;  
    transition: 0.5s;
    transition-delay: 0.6s;
 }
 header .nav .lines{
     display:block;
 }

}
.test{
    height:300px;
    width: 300px;
    background: red;
    transition: 1s;
    margin: 200px;
}
.test:hover{
    transform:perspective(500px) rotatey(83deg);
}